<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file" xsi:type="File"
        layout="${longdate} ${level} [${logger}]-${message} ${event-context:item=exception} ${stacktrace} ${event-context:item=stacktrace}"
        fileName="${basedir}/logs/${shortdate}/${level}.log" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" maxlevel="Error" writeTo="file" />
  </rules>
</nlog>
