.app-main {
    max-width: 640px;
    margin: 0 auto;
    background: #ececec;
    position: relative;
}
.app_circle_nav {
    padding: 25px 10px 5px;
    max-width: 100%;
}
.app_circle_nav_list {
    max-width: 100%;
    overflow: hidden;
}
.app_circle_nav_list ul  {
    list-style: none;
    padding: 0;
    margin: 0;
}
.app_circle_nav_list li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 25%;
    float: left;
    margin-bottom: 15px;
}
