/samples/Shitou.Framework.Demo.WebApp/obj
/samples/Shitou.Framework.Demo.WebApp/bin
/samples/Shitou.Framework.MvcDemo/Logs
/samples/Shitou.Framework.MvcDemo/obj
/samples/Shitou.Framework.MvcDemo/bin
/samples/Shitou.Framework.Demo.WebApi/obj
/samples/Shitou.Framework.Demo.WebApi/bin
/.vs
/packages
/src/Shitou.Framework.ORM/bin
/src/Shitou.Framework.Nlog/bin
/src/Shitou.Framework.Log4net/bin
/src/Shitou.Framework.Caching/bin
/src/Shitou.Framework.Autofac/bin
/src/Shitou.Framework.AliyunOss/bin
/samples/Shitou.Framework.Demo.Utils/bin
/samples/Shitou.Framework.Demo.Service/bin
/samples/Shitou.Framework.Demo.Model/bin
/samples/Shitou.Framework.Demo.DataContract/bin
/samples/Shitou.Framework.Demo.Dao/bin
/samples/Shitou.Framework.Demo.Application/bin
/test/Quartz4NetTest/bin/Release/netcoreapp2.1/publish/Microsoft.Extensions.Configuration.Binder.dll
/test/SyncBooksTest/bin
/test/SignalRConsole/bin
/test/RabbitMQ_P/bin
/test/RabbitMQ_C/bin
/test/Quartz4NetTest/bin
/test/AliyunOssTest/bin
/src/Shitou.Framework.SignalR/bin
/src/Shitou.Framework.RabbitMQ/bin
/src/Shitou.Framework.Quartz4Net/bin
/src/Shitou.Framework.Payment/bin
/samples/Shitou.Framework.Demo.Utils/obj
/test/SyncBooksTest/obj
/src/Shitou.Framework.SignalR/obj
/samples/Shitou.Framework.Demo.Application/obj
/test/SignalRConsole/obj
/test/RabbitMQ_P/obj
/test/AliyunOssTest/obj
/test/Quartz4NetTest/obj
/test/RabbitMQ_C/obj
/src/Shitou.Framework.Quartz4Net/obj
/src/Shitou.Framework.RabbitMQ/obj
/src/Shitou.Framework.AliyunOss/obj
/src/Shitou.Framework.Log4net/obj
/src/Shitou.Framework.Caching/obj
/src/Shitou.Framework.Payment/obj
/src/Shitou.Framework.ORM/obj
/src/Shitou.Framework.Nlog/obj
/src/Shitou.Framework.Autofac/obj
/samples/Shitou.Framework.Demo.Dao/obj
/samples/Shitou.Framework.Demo.DataContract/obj
/samples/Shitou.Framework.Demo.Model/obj
/samples/Shitou.Framework.Demo.Service/obj
