/samples/Shitou.Framework.Demo.WebApp/obj
/samples/Shitou.Framework.Demo.WebApp/bin
/samples/Shitou.Framework.MvcDemo/Logs
/samples/Shitou.Framework.MvcDemo/obj
/samples/Shitou.Framework.MvcDemo/bin
/samples/Shitou.Framework.Demo.WebApi/obj
/samples/Shitou.Framework.Demo.WebApi/bin
/.vs
/packages
