
@model TableTemplateInfo

<body>
    <form id="TableTemplateAdd" class="layui-form layui-form-pane"
          asp-controller="Template" asp-action="TableTemplateAdd"
          data-ajax="true"
          data-ajax-mode="replace"
          data-ajax-update="#"
          data-ajax-method="Post"
          data-ajax-success="Callback">
        <table class="post-form">
            <tr>
                <th style="width: 100px;">模板类型：</th>
                <td>
                    @Html.DropDownList("TemplateType", ViewData["TemplateTypeList"] as SelectList)
                </td>
            </tr>
            <tr>
                <th>模板编码：</th>
                <td>
                    <input id="TemplateCode" name="TemplateCode" lay-verify="required" lay-msg="请输入模板编码" class="layui-input" type="text" value="@Model.TemplateCode">
                </td>
            </tr>
            <tr>
                <th>模板名称：</th>
                <td>
                    <input id="TemplateName" name="TemplateName" lay-verify="required" lay-msg="请输入模板名称" class="layui-input" type="text" value="@Model.TemplateName">
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <button id="post_btn" type="submit" class="layui-btn" lay-submit="" lay-filter="post">保 存</button>
                    <a href="javascript:void(0)" onclick="parent.CloseWindow();" class="layui-btn layui-btn-normal">返回列表</a>
                </td>
            </tr>
        </table>
    </form>
</body>