@{
    ViewData["Title"] = "Home Page";
}

<div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{&quot;animation&quot;:&quot;slide&quot;,&quot;slideshow&quot;:false}'>
    <ul class="am-slides">
        <li>
            <img src="http://s.amazeui.org/media/i/demos/bing-1.jpg">
            <div class="am-slider-desc">这是标题标题标题标题标题标题标题0</div>

        </li>
        <li>
            <img src="http://s.amazeui.org/media/i/demos/bing-2.jpg">
            <div class="am-slider-desc">这是标题标题标题标题标题标题标题1</div>

        </li>
        <li>
            <img src="http://s.amazeui.org/media/i/demos/bing-3.jpg">
            <div class="am-slider-desc">这是标题标题标题标题标题标题标题2</div>

        </li>
        <li>
            <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg">
            <div class="am-slider-desc">这是标题标题标题标题标题标题标题3</div>
        </li>
    </ul>
</div>
<div class="app_circle_nav">
    <ul class="app_circle_nav_list">
        <li><a href="http://m.petshow.cc/a/新鲜事" title="宠物新鲜事" class="iconfont pet_nav_xinxianshi "></a><span>新鲜事</span></li>
        <li><a href="http://m.petshow.cc/a/涨知识" title="宠物涨知识" class="iconfont pet_nav_zhangzhishi "></a><span>涨知识</span></li>
        <li><a href="http://m.petshow.cc/g.html" title="宠物看涂鸦" class="iconfont pet_nav_kantuya "></a><span>看涂鸦</span></li>
        <li><a href="http://m.petshow.cc/t.html" title="宠物萌专题" class="iconfont pet_nav_mengzhuanti "></a><span>萌专题</span></li>
        <li><a href="http://m.petshow.cc/s/美容" title="宠物美容" class="iconfont pet_nav_meirong "></a><span>美容</span></li>
        <li><a href="http://m.petshow.cc/s/宠物医院" title="宠物医院" class="iconfont pet_nav_yiyuan "></a><span>医院</span></li>
        <li><a href="http://m.petshow.cc/s/店铺" title="宠物店铺" class="iconfont pet_nav_dianpu "></a><span>店铺</span></li>
        <li><a href="javascript:;" class="iconfont pet_nav_gengduo "></a><span>更多</span></li>
    </ul>
</div>